.info-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-items: center;
  align-content: center;
}

.info-modal > * {
    color: black;
    max-width: 50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-modal-content {
    max-height: 90vh;
    overflow: scroll;
}

.info-modal h2 {
    color: #38b6ff;
}

.active-modal {
    display: block;
}

#modal-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#modal-list li {
    display: flex;
    align-items: flex-start; /* Align the icon and text at the top */
    gap: 1rem; /* Add spacing between the icon and the text */
}

#modal-list li i {
    color: #38b6ff;
    font-size: 1.5rem;
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

#modal-list li p {
    margin: 0; /* Remove default margins */
    color: #333;
    line-height: 1.5; /* Adjust line height for better readability */
    flex: 1; /* Allow the text to take up remaining space */
}

#modal-close {
    cursor: pointer;
    padding: 0.8rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #38b6ff;
    border: 2px solid #38b6ff;
    border-radius: 0.5rem;
    margin-top: 20px;
}

#modal-close:hover,
#modal-close:focus {
    background-color: #38b6ff;
    box-shadow: 0 0 15px #38b6ff;
    color: white;
}

@media screen and (max-width: 992px) {
    .info-modal > * {
        max-width: 90%;
        font-size: larger;
    }
    .info-modal h2 {
        font-size: 1.7rem;
    }
    .info-modal p {
        font-size: 1.5rem;
    }
    #modal-close {
        font-size: 1.0rem;
        padding: 0.5rem 0.8rem;
    }
    
}